In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [2]:
train_df = pd.read_csv('Dataset/train.csv')
test_df = pd.read_csv('Dataset/test.csv')

<h4 style="color:blue;"> Train Dataset</h4>

In [3]:
train_df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train_df.shape

(4209, 378)

In [5]:
train_df.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

In [6]:
train_df.info

<bound method DataFrame.info of         ID       y  X0 X1  X2 X3 X4  X5 X6 X8  ...  X375  X376  X377  X378  \
0        0  130.81   k  v  at  a  d   u  j  o  ...     0     0     1     0
1        6   88.53   k  t  av  e  d   y  l  o  ...     1     0     0     0
2        7   76.26  az  w   n  c  d   x  j  x  ...     0     0     0     0
3        9   80.62  az  t   n  f  d   x  l  e  ...     0     0     0     0
4       13   78.02  az  v   n  f  d   h  d  n  ...     0     0     0     0
...    ...     ...  .. ..  .. .. ..  .. .. ..  ...   ...   ...   ...   ...
4204  8405  107.39  ak  s  as  c  d  aa  d  q  ...     1     0     0     0
4205  8406  108.77   j  o   t  d  d  aa  h  h  ...     0     1     0     0
4206  8412  109.22  ak  v   r  a  d  aa  g  e  ...     0     0     1     0
4207  8415   87.48  al  r   e  f  d  aa  l  u  ...     0     0     0     0
4208  8417  110.85   z  r  ae  c  d  aa  g  w  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
0        0     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     1     0     0     0
3        0     0     0     0     0     0
4        0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[4209 rows x 378 columns]>

In [7]:
train_df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

<h4 style="color:blue;"> Test Dataset</h4>

In [8]:
test_df.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [9]:
test_df.shape

(4209, 377)

In [10]:
test_df.columns

Index(['ID', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=377)

In [11]:
test_df.describe()

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4211.039202,0.019007,0.000238,0.074364,0.061060,0.427893,0.000713,0.002613,0.008791,0.010216,...,0.325968,0.049656,0.311951,0.019244,0.011879,0.008078,0.008791,0.000475,0.000713,0.001663
std,2423.078926,0.136565,0.015414,0.262394,0.239468,0.494832,0.026691,0.051061,0.093357,0.100570,...,0.468791,0.217258,0.463345,0.137399,0.108356,0.089524,0.093357,0.021796,0.026691,0.040752
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2115.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4202.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6310.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

<h4 style = 'color:ForestGreen;'>
We have identified 'y' as our target variable.
</h4>

<h2 style = 'color:Crimson;'>1. If for any column(s), the variance is equal to zero, then you need to remove those variable(s).

In [12]:
X_train = train_df.drop('y', axis=1)
y_train = train_df['y']

In [13]:
print(X_train.shape)
print(y_train.shape)

(4209, 377)
(4209,)

In [14]:
X_train.dtypes

ID       int64
X0      object
X1      object
X2      object
X3      object
         ...
X380     int64
X382     int64
X383     int64
X384     int64
X385     int64
Length: 377, dtype: object

In [15]:
X_train.var()

ID      5.941936e+06
X10     1.313092e-02
X11     0.000000e+00
X12     6.945713e-02
X13     5.462335e-02
            ...
X380    8.014579e-03
X382    7.546747e-03
X383    1.660732e-03
X384    4.750593e-04
X385    1.423823e-03
Length: 369, dtype: float64

In [16]:
print(X_train.var()['X11'] == 0)

True

In [17]:
for i in X_train:
    if X_train[i].dtypes == 'O':
        continue
    elif (X_train.var()[i] == 0):
        X_train.drop(i, axis= 1, inplace= True)
        test_df.drop(i, axis= 1, inplace= True)

In [18]:
print(X_train.shape)
print(test_df.shape)

(4209, 365)
(4209, 365)

In [19]:
X_train.var()

ID      5.941936e+06
X10     1.313092e-02
X12     6.945713e-02
X13     5.462335e-02
X14     2.448929e-01
            ...
X380    8.014579e-03
X382    7.546747e-03
X383    1.660732e-03
X384    4.750593e-04
X385    1.423823e-03
Length: 357, dtype: float64

<h2 style = 'color:Crimson;'>2. Check for null and unique values for test and train sets.</h2>

<h3 style="color:DarkOrchid;">Check for null values of test and train sets.</h3>

In [20]:
def check_isnull(data):
    for i in data:
        print(f'{i}-->{data[i].isnull().sum()}')
    print("-----------Columns Having Null Values-------------")
    for i in data:
        if(data[i].isnull().sum()> 0):
            print(i)

<h4 style="color:blue;"> Train Dataset</h4>

In [21]:
check_isnull(X_train)

ID-->0
X0-->0
X1-->0
X2-->0
X3-->0
X4-->0
X5-->0
X6-->0
X8-->0
X10-->0
X12-->0
X13-->0
X14-->0
X15-->0
X16-->0
X17-->0
X18-->0
X19-->0
X20-->0
X21-->0
X22-->0
X23-->0
X24-->0
X26-->0
X27-->0
X28-->0
X29-->0
X30-->0
X31-->0
X32-->0
X33-->0
X34-->0
X35-->0
X36-->0
X37-->0
X38-->0
X39-->0
X40-->0
X41-->0
X42-->0
X43-->0
X44-->0
X45-->0
X46-->0
X47-->0
X48-->0
X49-->0
X50-->0
X51-->0
X52-->0
X53-->0
X54-->0
X55-->0
X56-->0
X57-->0
X58-->0
X59-->0
X60-->0
X61-->0
X62-->0
X63-->0
X64-->0
X65-->0
X66-->0
X67-->0
X68-->0
X69-->0
X70-->0
X71-->0
X73-->0
X74-->0
X75-->0
X76-->0
X77-->0
X78-->0
X79-->0
X80-->0
X81-->0
X82-->0
X83-->0
X84-->0
X85-->0
X86-->0
X87-->0
X88-->0
X89-->0
X90-->0
X91-->0
X92-->0
X94-->0
X95-->0
X96-->0
X97-->0
X98-->0
X99-->0
X100-->0
X101-->0
X102-->0
X103-->0
X104-->0
X105-->0
X106-->0
X108-->0
X109-->0
X110-->0
X111-->0
X112-->0
X113-->0
X114-->0
X115-->0
X116-->0
X117-->0
X118-->0
X119-->0
X120-->0
X122-->0
X123-->0
X124-->0
X125-->0
X126-->0
X127-->0
X128-->0
X129-->0
X130-->0
X131-->0
X132-->0
X133-->0
X134-->0
X135-->0
X136-->0
X137-->0
X138-->0
X139-->0
X140-->0
X141-->0
X142-->0
X143-->0
X144-->0
X145-->0
X146-->0
X147-->0
X148-->0
X150-->0
X151-->0
X152-->0
X153-->0
X154-->0
X155-->0
X156-->0
X157-->0
X158-->0
X159-->0
X160-->0
X161-->0
X162-->0
X163-->0
X164-->0
X165-->0
X166-->0
X167-->0
X168-->0
X169-->0
X170-->0
X171-->0
X172-->0
X173-->0
X174-->0
X175-->0
X176-->0
X177-->0
X178-->0
X179-->0
X180-->0
X181-->0
X182-->0
X183-->0
X184-->0
X185-->0
X186-->0
X187-->0
X189-->0
X190-->0
X191-->0
X192-->0
X194-->0
X195-->0
X196-->0
X197-->0
X198-->0
X199-->0
X200-->0
X201-->0
X202-->0
X203-->0
X204-->0
X205-->0
X206-->0
X207-->0
X208-->0
X209-->0
X210-->0
X211-->0
X212-->0
X213-->0
X214-->0
X215-->0
X216-->0
X217-->0
X218-->0
X219-->0
X220-->0
X221-->0
X222-->0
X223-->0
X224-->0
X225-->0
X226-->0
X227-->0
X228-->0
X229-->0
X230-->0
X231-->0
X232-->0
X234-->0
X236-->0
X237-->0
X238-->0
X239-->0
X240-->0
X241-->0
X242-->0
X243-->0
X244-->0
X245-->0
X246-->0
X247-->0
X248-->0
X249-->0
X250-->0
X251-->0
X252-->0
X253-->0
X254-->0
X255-->0
X256-->0
X257-->0
X258-->0
X259-->0
X260-->0
X261-->0
X262-->0
X263-->0
X264-->0
X265-->0
X266-->0
X267-->0
X269-->0
X270-->0
X271-->0
X272-->0
X273-->0
X274-->0
X275-->0
X276-->0
X277-->0
X278-->0
X279-->0
X280-->0
X281-->0
X282-->0
X283-->0
X284-->0
X285-->0
X286-->0
X287-->0
X288-->0
X291-->0
X292-->0
X294-->0
X295-->0
X296-->0
X298-->0
X299-->0
X300-->0
X301-->0
X302-->0
X304-->0
X305-->0
X306-->0
X307-->0
X308-->0
X309-->0
X310-->0
X311-->0
X312-->0
X313-->0
X314-->0
X315-->0
X316-->0
X317-->0
X318-->0
X319-->0
X320-->0
X321-->0
X322-->0
X323-->0
X324-->0
X325-->0
X326-->0
X327-->0
X328-->0
X329-->0
X331-->0
X332-->0
X333-->0
X334-->0
X335-->0
X336-->0
X337-->0
X338-->0
X339-->0
X340-->0
X341-->0
X342-->0
X343-->0
X344-->0
X345-->0
X346-->0
X348-->0
X349-->0
X350-->0
X351-->0
X352-->0
X353-->0
X354-->0
X355-->0
X356-->0
X357-->0
X358-->0
X359-->0
X360-->0
X361-->0
X362-->0
X363-->0
X364-->0
X365-->0
X366-->0
X367-->0
X368-->0
X369-->0
X370-->0
X371-->0
X372-->0
X373-->0
X374-->0
X375-->0
X376-->0
X377-->0
X378-->0
X379-->0
X380-->0
X382-->0
X383-->0
X384-->0
X385-->0
-----------Columns Having Null Values-------------

<h4 style = 'color:ForestGreen;'>
We have identified that there is no null values in train dataset.
</h4>

<h4 style="color:blue;"> Test Dataset</h4>

In [22]:
check_isnull(test_df)

ID-->0
X0-->0
X1-->0
X2-->0
X3-->0
X4-->0
X5-->0
X6-->0
X8-->0
X10-->0
X12-->0
X13-->0
X14-->0
X15-->0
X16-->0
X17-->0
X18-->0
X19-->0
X20-->0
X21-->0
X22-->0
X23-->0
X24-->0
X26-->0
X27-->0
X28-->0
X29-->0
X30-->0
X31-->0
X32-->0
X33-->0
X34-->0
X35-->0
X36-->0
X37-->0
X38-->0
X39-->0
X40-->0
X41-->0
X42-->0
X43-->0
X44-->0
X45-->0
X46-->0
X47-->0
X48-->0
X49-->0
X50-->0
X51-->0
X52-->0
X53-->0
X54-->0
X55-->0
X56-->0
X57-->0
X58-->0
X59-->0
X60-->0
X61-->0
X62-->0
X63-->0
X64-->0
X65-->0
X66-->0
X67-->0
X68-->0
X69-->0
X70-->0
X71-->0
X73-->0
X74-->0
X75-->0
X76-->0
X77-->0
X78-->0
X79-->0
X80-->0
X81-->0
X82-->0
X83-->0
X84-->0
X85-->0
X86-->0
X87-->0
X88-->0
X89-->0
X90-->0
X91-->0
X92-->0
X94-->0
X95-->0
X96-->0
X97-->0
X98-->0
X99-->0
X100-->0
X101-->0
X102-->0
X103-->0
X104-->0
X105-->0
X106-->0
X108-->0
X109-->0
X110-->0
X111-->0
X112-->0
X113-->0
X114-->0
X115-->0
X116-->0
X117-->0
X118-->0
X119-->0
X120-->0
X122-->0
X123-->0
X124-->0
X125-->0
X126-->0
X127-->0
X128-->0
X129-->0
X130-->0
X131-->0
X132-->0
X133-->0
X134-->0
X135-->0
X136-->0
X137-->0
X138-->0
X139-->0
X140-->0
X141-->0
X142-->0
X143-->0
X144-->0
X145-->0
X146-->0
X147-->0
X148-->0
X150-->0
X151-->0
X152-->0
X153-->0
X154-->0
X155-->0
X156-->0
X157-->0
X158-->0
X159-->0
X160-->0
X161-->0
X162-->0
X163-->0
X164-->0
X165-->0
X166-->0
X167-->0
X168-->0
X169-->0
X170-->0
X171-->0
X172-->0
X173-->0
X174-->0
X175-->0
X176-->0
X177-->0
X178-->0
X179-->0
X180-->0
X181-->0
X182-->0
X183-->0
X184-->0
X185-->0
X186-->0
X187-->0
X189-->0
X190-->0
X191-->0
X192-->0
X194-->0
X195-->0
X196-->0
X197-->0
X198-->0
X199-->0
X200-->0
X201-->0
X202-->0
X203-->0
X204-->0
X205-->0
X206-->0
X207-->0
X208-->0
X209-->0
X210-->0
X211-->0
X212-->0
X213-->0
X214-->0
X215-->0
X216-->0
X217-->0
X218-->0
X219-->0
X220-->0
X221-->0
X222-->0
X223-->0
X224-->0
X225-->0
X226-->0
X227-->0
X228-->0
X229-->0
X230-->0
X231-->0
X232-->0
X234-->0
X236-->0
X237-->0
X238-->0
X239-->0
X240-->0
X241-->0
X242-->0
X243-->0
X244-->0
X245-->0
X246-->0
X247-->0
X248-->0
X249-->0
X250-->0
X251-->0
X252-->0
X253-->0
X254-->0
X255-->0
X256-->0
X257-->0
X258-->0
X259-->0
X260-->0
X261-->0
X262-->0
X263-->0
X264-->0
X265-->0
X266-->0
X267-->0
X269-->0
X270-->0
X271-->0
X272-->0
X273-->0
X274-->0
X275-->0
X276-->0
X277-->0
X278-->0
X279-->0
X280-->0
X281-->0
X282-->0
X283-->0
X284-->0
X285-->0
X286-->0
X287-->0
X288-->0
X291-->0
X292-->0
X294-->0
X295-->0
X296-->0
X298-->0
X299-->0
X300-->0
X301-->0
X302-->0
X304-->0
X305-->0
X306-->0
X307-->0
X308-->0
X309-->0
X310-->0
X311-->0
X312-->0
X313-->0
X314-->0
X315-->0
X316-->0
X317-->0
X318-->0
X319-->0
X320-->0
X321-->0
X322-->0
X323-->0
X324-->0
X325-->0
X326-->0
X327-->0
X328-->0
X329-->0
X331-->0
X332-->0
X333-->0
X334-->0
X335-->0
X336-->0
X337-->0
X338-->0
X339-->0
X340-->0
X341-->0
X342-->0
X343-->0
X344-->0
X345-->0
X346-->0
X348-->0
X349-->0
X350-->0
X351-->0
X352-->0
X353-->0
X354-->0
X355-->0
X356-->0
X357-->0
X358-->0
X359-->0
X360-->0
X361-->0
X362-->0
X363-->0
X364-->0
X365-->0
X366-->0
X367-->0
X368-->0
X369-->0
X370-->0
X371-->0
X372-->0
X373-->0
X374-->0
X375-->0
X376-->0
X377-->0
X378-->0
X379-->0
X380-->0
X382-->0
X383-->0
X384-->0
X385-->0
-----------Columns Having Null Values-------------

<h4 style = 'color:ForestGreen;'>
We have identified that there is no null values in test dataset.
</h4>

<h4 style="color:blue;">y_train Dataset</h4>

In [23]:
y_train.isnull().sum()

0

<h4 style = 'color:ForestGreen;'>
We have identified that there is no null values in y_train dataset.
</h4>

<h3 style="color:DarkOrchid;">Unique values for test and train sets.</h3>

In [24]:
def unique_values(data):
    for i in data:
        if data[i].dtypes == 'O':
            print(f'For Column {i} --> {data[i].unique()}')

<h4 style="color:blue;"> Train Dataset</h4>

In [25]:
unique_values(X_train)

For Column X0 --> ['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']
For Column X1 --> ['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
For Column X2 --> ['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
For Column X3 --> ['a' 'e' 'c' 'f' 'd' 'b' 'g']
For Column X4 --> ['d' 'b' 'c' 'a']
For Column X5 --> ['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
For Column X6 --> ['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']
For Column X8 --> ['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c']

<h4 style="color:blue;"> Test Dataset</h4>

In [26]:
unique_values(test_df)

For Column X0 --> ['az' 't' 'w' 'y' 'x' 'f' 'ap' 'o' 'ay' 'al' 'h' 'z' 'aj' 'd' 'v' 'ak'
 'ba' 'n' 'j' 's' 'af' 'ax' 'at' 'aq' 'av' 'm' 'k' 'a' 'e' 'ai' 'i' 'ag'
 'b' 'am' 'aw' 'as' 'r' 'ao' 'u' 'l' 'c' 'ad' 'au' 'bc' 'g' 'an' 'ae' 'p'
 'bb']
For Column X1 --> ['v' 'b' 'l' 's' 'aa' 'r' 'a' 'i' 'p' 'c' 'o' 'm' 'z' 'e' 'h' 'w' 'g' 'k'
 'y' 't' 'u' 'd' 'j' 'q' 'n' 'f' 'ab']
For Column X2 --> ['n' 'ai' 'as' 'ae' 's' 'b' 'e' 'ak' 'm' 'a' 'aq' 'ag' 'r' 'k' 'aj' 'ay'
 'ao' 'an' 'ac' 'af' 'ax' 'h' 'i' 'f' 'ap' 'p' 'au' 't' 'z' 'y' 'aw' 'd'
 'at' 'g' 'am' 'j' 'x' 'ab' 'w' 'q' 'ah' 'ad' 'al' 'av' 'u']
For Column X3 --> ['f' 'a' 'c' 'e' 'd' 'g' 'b']
For Column X4 --> ['d' 'b' 'a' 'c']
For Column X5 --> ['t' 'b' 'a' 'z' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac'
 'ad' 'ae' 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
For Column X6 --> ['a' 'g' 'j' 'l' 'i' 'd' 'f' 'h' 'c' 'k' 'e' 'b']
For Column X8 --> ['w' 'y' 'j' 'n' 'm' 's' 'a' 'v' 'r' 'o' 't' 'h' 'c' 'k' 'p' 'u' 'd' 'g'
 'b' 'q' 'e' 'l' 'f' 'i' 'x']

<h2 style = 'color:Crimson;'>3. Apply label encoder.</h2>

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
col_encoder = LabelEncoder()

In [29]:
def col_encoder_fun(data):
    for i in data:
        if data[i].dtypes == 'O':
            data[i] = col_encoder.fit_transform(data[i])
            print(f"Columns That Are Encoded --> {i}")

<h4 style="color:blue;"> Train Dataset</h4>

In [30]:
col_encoder_fun(X_train)

Columns That Are Encoded --> X0
Columns That Are Encoded --> X1
Columns That Are Encoded --> X2
Columns That Are Encoded --> X3
Columns That Are Encoded --> X4
Columns That Are Encoded --> X5
Columns That Are Encoded --> X6
Columns That Are Encoded --> X8

<h4 style="color:blue;"> Test Dataset</h4>

In [31]:
col_encoder_fun(test_df)

Columns That Are Encoded --> X0
Columns That Are Encoded --> X1
Columns That Are Encoded --> X2
Columns That Are Encoded --> X3
Columns That Are Encoded --> X4
Columns That Are Encoded --> X5
Columns That Are Encoded --> X6
Columns That Are Encoded --> X8

In [32]:
X_train.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,32,23,17,0,3,24,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,6,32,21,19,4,3,28,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,7,20,24,34,2,3,27,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,9,20,21,34,5,3,27,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,13,20,23,34,5,3,12,3,13,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
X_train.dtypes

ID      int64
X0      int32
X1      int32
X2      int32
X3      int32
        ...
X380    int64
X382    int64
X383    int64
X384    int64
X385    int64
Length: 365, dtype: object

In [34]:
test_df.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,21,23,34,5,3,26,0,22,0,...,0,0,0,1,0,0,0,0,0,0
1,2,42,3,8,0,3,9,6,24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,21,23,17,5,3,0,9,9,0,...,0,0,0,1,0,0,0,0,0,0
3,4,21,13,34,5,3,31,11,13,0,...,0,0,0,1,0,0,0,0,0,0
4,5,45,20,17,2,3,30,8,12,0,...,1,0,0,0,0,0,0,0,0,0

In [35]:
test_df.dtypes

ID      int64
X0      int32
X1      int32
X2      int32
X3      int32
        ...
X380    int64
X382    int64
X383    int64
X384    int64
X385    int64
Length: 365, dtype: object

<h2 style = 'color:Crimson;'>4. Perform dimensionality reduction.</h2>

<h3 style="color:DarkOrchid;">Normalising the data.</h3>

In [36]:
from sklearn.preprocessing import StandardScaler

In [37]:
sc = StandardScaler()

In [38]:
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(test_df)

<h3 style="color:DarkOrchid;">Implementing PCA.</h3>

In [39]:
from sklearn.decomposition import PCA

In [40]:
pca_obj = PCA()

In [41]:
X_train_PCA = pca_obj.fit_transform(X_train)
X_test_PCA = pca_obj.fit_transform(X_test)

In [42]:
pca_obj.explained_variance_ratio_

array([7.12486653e-02, 5.62415084e-02, 4.79979004e-02, 3.48818222e-02,
       3.26672655e-02, 3.17006619e-02, 2.82351002e-02, 2.14035131e-02,
       1.91298040e-02, 1.74214677e-02, 1.66286781e-02, 1.64393781e-02,
       1.49384640e-02, 1.38777649e-02, 1.35286203e-02, 1.27571090e-02,
       1.22387389e-02, 1.17690111e-02, 1.10581757e-02, 1.06911106e-02,
       1.02639043e-02, 9.37624352e-03, 9.29049134e-03, 9.05267345e-03,
       8.59958787e-03, 8.54160869e-03, 7.82044339e-03, 7.48747967e-03,
       7.34403625e-03, 7.23314434e-03, 7.03553099e-03, 6.87577048e-03,
       6.75483979e-03, 6.50479088e-03, 6.37950579e-03, 6.19292941e-03,
       6.13882865e-03, 6.03783025e-03, 5.99492525e-03, 5.89027248e-03,
       5.55576539e-03, 5.48572168e-03, 5.28121707e-03, 5.25910912e-03,
       5.12864286e-03, 5.02484447e-03, 4.94931135e-03, 4.76961699e-03,
       4.71278343e-03, 4.63198213e-03, 4.55830740e-03, 4.47537732e-03,
       4.35658769e-03, 4.28679476e-03, 4.22548636e-03, 4.04582798e-03,
       4.00033185e-03, 3.93454157e-03, 3.90301437e-03, 3.81967831e-03,
       3.80986083e-03, 3.72237302e-03, 3.65473153e-03, 3.64320550e-03,
       3.61870358e-03, 3.55727206e-03, 3.46128792e-03, 3.41047056e-03,
       3.37771387e-03, 3.36256219e-03, 3.31946796e-03, 3.30330864e-03,
       3.27652584e-03, 3.22861002e-03, 3.19479418e-03, 3.16074032e-03,
       3.10798244e-03, 3.10645053e-03, 3.07178635e-03, 3.05166619e-03,
       2.99650329e-03, 2.97911342e-03, 2.95233531e-03, 2.92968079e-03,
       2.88970794e-03, 2.88161868e-03, 2.85350724e-03, 2.83014050e-03,
       2.79960822e-03, 2.79022195e-03, 2.74931322e-03, 2.73849941e-03,
       2.69588542e-03, 2.68941004e-03, 2.64962483e-03, 2.62783267e-03,
       2.60106610e-03, 2.59075141e-03, 2.56129618e-03, 2.52025181e-03,
       2.48444007e-03, 2.46570355e-03, 2.45669962e-03, 2.43955390e-03,
       2.42671765e-03, 2.39406272e-03, 2.37753636e-03, 2.35029790e-03,
       2.32810902e-03, 2.26482158e-03, 2.24156399e-03, 2.23458252e-03,
       2.21686329e-03, 2.19543397e-03, 2.16864220e-03, 2.13939602e-03,
       2.10540805e-03, 2.09147504e-03, 2.08213708e-03, 2.05483315e-03,
       2.03818073e-03, 2.00300911e-03, 1.94897936e-03, 1.93704004e-03,
       1.93230270e-03, 1.92060136e-03, 1.88244702e-03, 1.83813991e-03,
       1.80528747e-03, 1.78224784e-03, 1.74610028e-03, 1.73211634e-03,
       1.71216167e-03, 1.67986342e-03, 1.64771357e-03, 1.61453168e-03,
       1.59628090e-03, 1.54925339e-03, 1.49466381e-03, 1.47998598e-03,
       1.47003925e-03, 1.43038582e-03, 1.41599576e-03, 1.38297063e-03,
       1.37771035e-03, 1.36436365e-03, 1.33269348e-03, 1.30417942e-03,
       1.27480706e-03, 1.26589598e-03, 1.24773234e-03, 1.23094905e-03,
       1.19234860e-03, 1.17073219e-03, 1.15206168e-03, 1.12350066e-03,
       1.10748818e-03, 1.10150579e-03, 1.06583699e-03, 1.04346695e-03,
       1.02463714e-03, 9.95758731e-04, 9.71998658e-04, 9.57689300e-04,
       9.30738127e-04, 9.16635380e-04, 8.99017230e-04, 8.76356461e-04,
       8.56126178e-04, 8.30582393e-04, 8.21694292e-04, 8.02493814e-04,
       7.76511877e-04, 7.74551191e-04, 7.43885041e-04, 7.28663565e-04,
       7.24732922e-04, 6.79961784e-04, 6.73459240e-04, 6.61756500e-04,
       6.39414138e-04, 6.25266526e-04, 6.03204345e-04, 5.79144335e-04,
       5.71735111e-04, 5.45853876e-04, 5.35603334e-04, 5.24151043e-04,
       5.14994605e-04, 4.97477026e-04, 4.89448595e-04, 4.76733679e-04,
       4.65189068e-04, 4.50214685e-04, 4.37565516e-04, 4.31458477e-04,
       4.23318421e-04, 4.08333193e-04, 3.97759383e-04, 3.80890485e-04,
       3.73848521e-04, 3.57616625e-04, 3.49990343e-04, 3.42519877e-04,
       3.24772837e-04, 3.18177219e-04, 3.13961066e-04, 3.09515606e-04,
       3.01351052e-04, 2.98079849e-04, 2.85629703e-04, 2.76391851e-04,
       2.64331204e-04, 2.47022641e-04, 2.40246893e-04, 2.25020442e-04,
       2.10275717e-04, 2.05191206e-04, 1.91552886e-04, 1.86367134e-04,
       1.84770368e-04, 1.77355620e-04, 1.74325950e-04, 1.55890284e-04,
       1.49256838e-04, 1.39360019e-04, 1.34030870e-04, 1.29998583e-04,
       1.23571153e-04, 1.15848469e-04, 1.10343527e-04, 1.04443878e-04,
       9.97539777e-05, 9.82964906e-05, 8.96761687e-05, 8.83401122e-05,
       8.03503684e-05, 7.90402106e-05, 6.56112731e-05, 6.45180163e-05,
       6.10411770e-05, 5.17238011e-05, 4.94839204e-05, 4.49320985e-05,
       4.46999173e-05, 4.26923912e-05, 3.78614608e-05, 3.72160577e-05,
       2.90012446e-05, 2.84127650e-05, 2.66169878e-05, 2.09023191e-05,
       1.87169099e-05, 1.71968838e-05, 1.54956321e-05, 1.48022947e-05,
       1.33989721e-05, 1.12515686e-05, 9.88750490e-06, 8.65025002e-06,
       8.21766320e-06, 5.41349347e-06, 5.27376104e-06, 2.83947057e-06,
       2.80859842e-06, 2.69316844e-06, 1.26563907e-06, 1.04541178e-06,
       5.39685714e-07, 1.40513216e-32, 7.20930768e-33, 5.60430611e-33,
       4.20529863e-33, 3.74861839e-33, 3.62901663e-33, 3.34505183e-33,
       2.94359741e-33, 2.73943638e-33, 2.65635098e-33, 2.45736672e-33,
       2.28876652e-33, 2.24540673e-33, 2.17337078e-33, 2.04797094e-33,
       1.91136823e-33, 1.83627534e-33, 1.79260121e-33, 1.73966437e-33,
       1.56971618e-33, 1.56075474e-33, 1.49689935e-33, 1.38423762e-33,
       1.26634924e-33, 1.22517423e-33, 1.22281247e-33, 1.19563798e-33,
       1.11234362e-33, 1.09100366e-33, 1.03919300e-33, 1.01381999e-33,
       9.36832208e-34, 9.23027845e-34, 9.12480012e-34, 7.99310801e-34,
       7.92608370e-34, 7.92275549e-34, 7.67785195e-34, 7.50013469e-34,
       6.93627075e-34, 6.45608423e-34, 5.77714836e-34, 5.66613819e-34,
       4.86066999e-34, 4.24492186e-34, 4.16393552e-34, 3.66499498e-34,
       3.49214363e-34, 3.28993363e-34, 3.24287637e-34, 2.90532412e-34,
       2.86170443e-34, 2.76552599e-34, 2.75816922e-34, 2.71022804e-34,
       2.53937676e-34, 2.53937676e-34, 2.53937676e-34, 2.53937676e-34,
       2.53937676e-34, 2.53937676e-34, 2.53937676e-34, 2.53937676e-34,
       2.53937676e-34, 2.53937676e-34, 2.53937676e-34, 2.53937676e-34,
       2.53937676e-34, 2.53937676e-34, 2.53937676e-34, 2.53937676e-34,
       2.53937676e-34, 2.53937676e-34, 2.53937676e-34, 2.53937676e-34,
       2.53937676e-34, 2.53937676e-34, 2.53937676e-34, 2.53937676e-34,
       2.53937676e-34, 1.93177626e-34, 1.74220484e-34, 1.58136195e-34,
       1.25510425e-34, 1.23827083e-34, 1.21149344e-34, 9.29668775e-35,
       8.39874795e-35, 7.07975864e-35, 4.63071774e-35, 4.27603403e-35,
       3.39247337e-35, 2.62449817e-35, 1.30031389e-35, 8.25231772e-36,
       3.47154714e-37])

In [43]:
X_train_PCA.shape

(4209, 365)

<h3 style="color:DarkOrange;">Implementing PCA with 'n_components=170'.</h3>

In [44]:
pca_obj1 = PCA(n_components=0.98)

In [45]:
X_train_pca = pca_obj1.fit_transform(X_train)

In [46]:
np.array(pca_obj1.explained_variance_ratio_).sum()*100

98.03605642308362

In [47]:
X_train_pca.shape

(4209, 179)

In [48]:
X_test_pca = pca_obj1.fit_transform(X_test)

<h2 style = 'color:Crimson;'>5. Predict your test_df values using XGBoost.</h2>

In [49]:
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [50]:
X_train, X_test, y_train , y_test = train_test_split(X_train_pca, y_train , test_size = 0.2 , random_state = 21)

In [51]:
xgb_r = xgb.XGBRegressor(objective ='reg:linear', n_estimators = 7, booster = 'gblinear')

In [52]:
xgb_r.fit(X_train, y_train)

[09:19:14] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gblinear', colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None,
             enable_categorical=False, gamma=None, gpu_id=-1,
             importance_type=None, interaction_constraints=None,
             learning_rate=0.5, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=7, n_jobs=12, num_parallel_tree=None,
             objective='reg:linear', predictor=None, random_state=0,
             reg_alpha=0, reg_lambda=0, scale_pos_weight=1, subsample=None,
             tree_method=None, validate_parameters=1, verbosity=None)

In [53]:
y_train_pred_xgb = xgb_r.predict(X_train)

In [54]:
print("The RMSE value of the model on training dataset is : ")
print(np.sqrt(mean_squared_error(y_train , y_train_pred_xgb)))

The RMSE value of the model on training dataset is :
8.461759602847609

In [55]:
print("The r2 score of the model on training dataset is : ")
print(r2_score(y_train , y_train_pred_xgb))

The r2 score of the model on training dataset is :
0.5648557863335772

In [56]:
y_test_pred_xgb = xgb_r.predict(X_test_pca)

In [57]:
X_test_Output = pd.DataFrame(test_df["ID"] )
X_test_Output['X_test_output'] = y_test_pred_xgb

In [58]:
X_test_Output

        ID  X_test_output
0        1      66.383842
1        2      90.845963
2        3      75.366104
3        4      73.796501
4        5     109.341789
...    ...            ...
4204  8410     100.823792
4205  8411      87.500870
4206  8413      92.049141
4207  8414     102.288986
4208  8416      91.600731

[4209 rows x 2 columns]

In [59]:
y_test_pred_xgb = xgb_r.predict(X_test)

In [60]:
print("The RMSE value of the model on test dataset is : ")
print(np.sqrt(mean_squared_error(y_test , y_test_pred_xgb)))

The RMSE value of the model on test dataset is :
8.8970457707611

In [61]:
print("The r2 score of the model on training dataset is : ")
print(r2_score(y_test , y_test_pred_xgb))

The r2 score of the model on training dataset is :
0.45581883301711956

<h3 style="color:ForestGreen;">X_test_output.</h3>

In [62]:
X_test_output = pd.DataFrame(test_df["ID"] )

In [63]:
X_test_output['X_test_output'] = X_test_Output['X_test_output']

In [64]:
test_df['Output'] = X_test_output['X_test_output']

In [65]:
test_df[['ID', 'Output']]

        ID      Output
0        1   66.383842
1        2   90.845963
2        3   75.366104
3        4   73.796501
4        5  109.341789
...    ...         ...
4204  8410  100.823792
4205  8411   87.500870
4206  8413   92.049141
4207  8414  102.288986
4208  8416   91.600731

[4209 rows x 2 columns]